* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    height: 106vh;
    background: linear-gradient(#9181ea, #bdf8d9);
  }
  .container {
    margin-top: 30px;
    background-color: rgba(44, 44, 45, 0.339);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 51.5%;
    left: 50%;
    width: 80vw;
    max-width: 600px;
    min-width: 350px;
    padding: 50px 30px;
    border-radius: 30px 30px 0px 30px;
    box-shadow: 0px 20px 50px  rgba(0, 0, 0, 0.277);
  }
  label {
    border-radius: 20px 20px 0px 0px;
    display:block;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  input {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px 50px 50px 0px;
    margin-bottom: 20px;
    font-weight: bold;
    border: none;
    font-size: 20px;
    border-bottom: 4px solid #adf1ac;
    color: #000000;
    padding: 5px 10px;
  }
  input:focus {
    outline: none;
    border-bottom: 4.8px solid #01e26e;
  }
  .input-time {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .input-time input {
    width: 100%;
  }
  .time-wrapper input {
    width: 60%;
  }
  select {
    width: 35%;
    border: none;
    background-color: #adf1ac;
    font-weight: lighter;
    font-size: 20px;
    margin-left: 3%;
    padding: 9px 0px;
    margin-left: 40px;
    border-radius: 10px;
  }
  button {
    display: block;
    background-color: #bae8d0;
    border: none;
    color: #000000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin: 20px auto 0 auto;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  button:hover{
    background-color: #bae8d0a9;
    transition: ease-out 0.4s;
  }
  #result {
    background-color: #d9ebf761;
    margin-top: 30px;
    color: #000000;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:0px 0px 30px  rgba(0, 0, 0, 0.135);
  }
  #result div {
    margin-bottom: 10px;
  }
  #result span {
    color: #000000;
    font-weight: 500;
  }
  .container h1{
    font-weight: bolder;
    margin-top: -30px;
    margin-bottom: 30px;
    margin-left: 10px;
    color: rgb(174, 224, 174);
  }
  #calculate-btn{
    float: left;
    margin-left: 65px;
  }
  #clear{
    width:150px;
  }